doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.w3-container.w3-teal
      h1.w3-xxlarge #{title}
      if apiUrl
        p.w3-small
          | API: 
          code= apiUrl
      if date
        p.w3-small #{date}
    main.w3-container
      block content
